<h1><%= @list.name %></h1>
<% if @list.public %>
  <%= t("public_list") %>
<% else %>
  <%= t("private_list") %>
<% end %>
<br />
<%= @list.user.email %>

<div class="watch">
  <%= watch_button(@list, current_user) %>
</div>

<h2><%= Item.model_name.human(:count => 2) %></h2>
<%= render @list.items %>

<% if can? :update, @list %>
  <%= link_to t("actions.edit"), edit_list_path(@list) %>
<% end %>
<% if can? :destroy, @list %>
  <%= link_to t("actions.destroy"), @list, :confirm => t(:are_you_sure), :method => :delete %>
<% end %>